@media screen and (min-width: 770px) {
    .footer {
        left: 45%;
        position: absolute;
        bottom: 0;
        /* width: 100%; */
        color: #131313;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        column-gap: 2rem;
    }
    
    .footer a {
        /* padding-left: 2rem; */
        font-size: 24px;
    }
}

@media screen and (max-width: 769px) {
    .footer {
        padding-top: 5%;
        position: relative;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
        margin: inherit auto -1rem auto;
        color: #131313;
        display: flex;
        justify-content: center;
        column-gap: 2rem;
    }
    
    .footer a {
        /* padding-left: 2rem; */
        font-size: 24px;
    }
}