
body {
    font-family: "Lato", sans-serif;
    background-color: #e3e3e3;
    height: 100%;
}

a {
    color: #131313;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .main p {
        color: #131313;
        margin-top: 3%;
        text-align: justify;
        font-size: 18px;
    }
}

/*
    Setting the CSS for desktop
*/
@media (min-width: 1201px) {
    body {
        margin: 6rem;
    }

    .main p {
        color: #131313;
        margin-left: 10%;
        margin-top: 3%;
        text-align: left;
        font-size: 18px;
    }

    .row {
        display: flex;
        margin-left: 12rem;
        margin-right: 8rem;
    }
    
    .column {
        flex: 50%;
        padding-left: 5rem;
    }

    .title {
        position:absolute;
        top:0;
        right:0;
        margin-right: 1rem;
        margin-top: 1rem;
        font-size: 2rem;
        color: #cf7070;
    }

    .images {
        width: 308px;
        height: 395px;
        float: right;
        margin-top: 5%;
        padding-left: 5%;
        margin-right: 10%;
    }
}


/*
    Setting the CSS for mobile
*/
@media (max-width: 1200px) {
    body {
        margin: 1rem;
    }

    .images {
        display: none;
    }

    .initials {
        display: none;
    }

    .main .p {
        text-align: center;
    }

    .name {
        display: none;
    }

    .title {
        padding: 0.5rem;
        top:0;
        right:0;
        text-align: center;
        font-size: 2rem;
        color: #cf7070;
    }

    .me {
        display: none;
        /* width: 75%;
        height: 50%;
        float: right;
        margin-top: 5%;
        padding-left: 5%;
        margin-right: 10%; */
    }
}

.name {
    position: absolute;
    margin-left: 15rem;
    margin-top: 1rem;
    top: 0;
    font-size: 2rem;
}

/* @media screen and (min-width: 769px) {
    .mobile-button {
        display: none;
    }
} */

table, th, td {
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%
}

.skills {
    padding-top: 4%;
}



.main-point {
    padding-bottom: 1rem;
}

.sub-point {
    padding-top: 1rem;
}

input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

label {
	display: block;
	border-radius: 2px;
	font-weight: bold;
}

.mos-code {
    display: none;
}

.py-code {
    display: none;
}

input[type=checkbox]:checked ~ .mos-code {
	color: red;
    display: contents;
}

input[type=checkbox]:checked ~ .py-code {
	color: red;
    display: contents;
}