<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title class="page-title" idle="page-title">Christopher Fore</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="sidenav.css">
        <link rel="shortcut icon" href="assets/sitelogo.png">
        <script src = "script.js" type = "text/javascript"/></script>

        {% style "/css/footer.css" %}
        {% style "/css/sidenav.css" %}
        {% style "/css/styles.css" %}

        {% style "/css/screen.css" %}

        {% script "/js/script.js" %}

        <script src="https://use.fontawesome.com/e6aa246d4c.js"></script>
    </head>
    <body>
        <div id="mySidenav" class="sidenav">
            <div class="mobile-button">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            </div>
            <div class="links">
                <a href="/" class="navbar-item{% ifequal page "index.html" %} is-active{%endifequal%}">Home</a>
                <a href="/projects" class="navbar-item{% ifequal page "projects.html" %} is-active{%endifequal%}">Projects</a>
                <a href="/qualifications" class="navbar-item{% ifequal page "qualifications.html" %} is-active{%endifequal%}">Qualifications</a>
                <!-- <a href="#">Home</a>
                <a href="projects.html">Projects</a>
                <a href="qualifications.html">Qualifications</a> -->
            </div>
        </div>
        <!-- A very hacky way to get this to work, the old method didn't work -->
        <div class="mobile-button">
            <ion-icon name="menu" onclick="openNav()" class="hamburger" style="font-size:50px;cursor:pointer"></ion-icon>
        </div>
        {% block content %}
        {% endblock %}
        <div class="footer" style="position: absolute">
            <a href="https://gitlab.com/csfore" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
            <a href="mailto:contactme@chrisfore.us" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/christopher-fore-1b60a2197/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="https://twitter.com/csfore03" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    </body>

</html>