{% extends "base.html" %}
{% block content %}
<div class="title">
    A Little About Me
</div>
<div class="name">
    Christopher Fore
</div>
<div id="main" class="main">
    <div class="row">
        <div class="column">
            <ul>
                <li class="main-point">
                    Computing Security Major
                    <ul>
                        <li class="sub-point">
                            Rochester Institute of Technology
                        </li>
                    </ul>
                </li>
                <li class="main-point">
                    Programmer
                    <ul>
                        <li class="sub-point">
                            Python
                        </li>
                        <li class="sub-point">
                            V
                        </li>
                        <li class="sub-point">
                            Rust
                        </li>
                        <li class="sub-point">
                            Clojure
                        </li>
                    </ul>
                </li>
                <li class="main-point">
                    Computer Repair Specialist
                    <ul>
                        <li class="sub-point">
                            Physically repaired laptops and desktops
                        </li>
                        <li class="sub-point">
                            Install new computer hardware
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="column">
            <p>
                <img class="me"src="/img/normal.png"/>
            </p>
        </div>
    </div>
</div>
{% endblock %}
