{% extends "base.html" %}
{% block content %}
<div class="title">
    What Have I Been Doing?
</div>
<div class="name">
    Projects
</div>
<div id="main" class="main">
    <div class="row">
        <div class="column">
            <ul>
                <li class="main-point">
                    <a href="https://gitlab.com/csfore/vveather" target="_blank">VVeather</a>
                    <ul>
                        <li class="sub-point project-sub">
                            V cli program that you can use to check the weather
                        </li>
                    </ul>
                </li>
                <li class="main-point">
                    <a href="https://gitlab.com/csfore/vbk" target="_blank">VBK</a>
                    <ul>
                        <li class="sub-point project-sub">
                            V cli backup program that created zip files of a specified directory
                        </li>
                    </ul>
                </li>
                <li class="main-point">
                    <a href="https://gitlab.com/csfore/the-random-bot-rewrite" target="_blank">The Random Bot [UNDER DEVELOPMENT]</a>
                    <ul>
                        <li class="sub-point project-sub">
                            Originally written in Python, this is a Discord bot written in Rust using the Serenity library that can retrieve random data from various APIs.
                        </li>
                    </ul>
                </li>
                <li class="main-point">
                    <a href="https://gitlab.com/csfore/personal-site" target="_blank">This Website!</a>
                    <ul>
                        <li class="sub-point project-sub">
                            Written in just HTML and CSS (with some JS), this is the website you are viewing.
                        </li>
                    </ul>
                </li>
                <!--https://gitlab.com/csfore/the-random-bot-rewrite-->
            </ul>
            <p style="padding-top: 5rem;">
                Curious to learn more about the projects I do? This website only has the ones I consider ready to be shown off.
                You can visit my <a href="https://gitlab.com/csfore" target="_blank">GitLab</a> to see more of the unfinished work and projects I started but never had the time to finish!
            </p>
        </div>
    </div>
</div>
{% endblock %}