{% extends "base.html" %}
{% block content %}
<div class="title">
    Why am I Qualified?
</div>
<div class="name">
    Qualifications
</div>
<div id="main" class="main">
    <div class="row">
        <div class="column">
            <ul>
                <li>
                    Jobs
                    <ul>
                        <li class="main-point">
                            October 2020 - February 2021
                            <ul>
                                <li class="sub-point">
                                    Design Tech
                                </li>
                                <li class="sub-point">
                                    Interned and assisted in disassembly and disposal of old computer hardware
                                </li>
                            </ul>
                        </li>
                        <li class="main-point">
                            May 2022 - August 2022
                            <ul>
                                <li class="sub-point">
                                    EbryIT
                                </li>
                                <li class="sub-point">
                                    Installed new desktops and all-in-ones for the Fort Mill School District
                                </li>
                            </ul>
                        </li>
                        <li class="main-point">
                            July 2022 - August 2022
                            <ul>
                                <li class="sub-point">
                                    Computer Clinic -  Lincolnton, NC
                                </li>
                                <li class="sub-point">
                                    Repaired laptops and desktops, provided customer service, cloned hard drives, used ShredOS to wipe data
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Certifications
                    <!-- <input type="checkbox" id="toggle">
                    <label for="toggle">Verification Code Toggle (Click Me)</label> -->
                    <ul>
                        <li>
                            May 18, 2018
                            <ul>
                                <li>
                                    Microsoft Office Specialist Master 2016
                                </li>
                                <li>
                                    <a href="https://verify.certiport.com" target="_blank">Verification Code: wUXGR-HaQu</a>
                                    <!-- <p class="mos-code">wUXGR-HaQu</p> -->
                                </li>
                            </ul>
                        </li>
                        <li>
                            December 8, 2020
                            <ul>
                                <li>
                                    98-381:MTA: Introduction to Programming using Python
                                </li>
                                <li>
                                    <a href="https://verify.certiport.com" target="_blank"">Verification Code: wnTLp-48CC</a>
                                    <!-- <p class="py-code">wnTLp-48CC</p> -->
                                </li>
                            </ul>
                            
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}